@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*::-webkit-scrollbar{
  display: none;
}
*{
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
}
.header-image{
  background-image: url('./images/bg-desktop-light.jpg');
  height: 300px;
  width: 100vw;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  z-index: 1;
  
}
.circle{
  width: 23px;
  height: 23px;
  border: 1px solid grey;
  border-radius: 50%;
}
.back-ground-gradient{
  background: linear-gradient(90deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
}
.Active{
  color:  hsl(235, 49%, 31%);
  font-weight: bold;
}
html.dark .Active{
  color:rgb(70, 70, 241);
  font-weight: bold;
}
html.dark .header-image{
  background-image: url('./images/bg-desktop-dark.jpg');
  height: 300px;
  width: 100vw;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
 z-index: 1;
}
@media screen and (max-width: 454px) {
  .todo{
    width: 323px;
  }
}
.signupPage{
  background-color: #F2F2F2;
  color:  #203A40;
}
.signupForm{
  background-color: #F2B199;
  border: #F24B59 solid 2px;
}
.signupForm input{
  color: #203A40;
}
.signupForm button{
  color: #203A40;
  background-color: #F2727D ;
  border: #203A40 solid 1px;
}
.signupForm button:hover{
  color: #203A40;
  background-color: #F24B59;
  border: #203A40 solid 1px;
}